{
  "plugins": [
      "chai-expect"
    ]
  ,
  "env": {
    "mocha":true
  },
  "globals": {
    "expect": false,
    "is": false,
    "describe": false,
    "ComponentScaffold": false,
    "TypeReceiver": false,
    "TestFiber": false
  },
  "rules": {
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1
  }
}
